<app-bread-crumb [Itens]="[{text: 'Categorias', link: '/categories'}, {text: pageTitle}]"></app-bread-crumb>


<app-page-header [page-title]="pageTitle" button-text="<< Voltar" button-link="/categorias" button-class="btn-light">
</app-page-header>

<form [formGroup]='resourceForm' (submit)='submitForm()'>
    <div class="card">
        <div class="card-header">
            Dados basicos
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label>Nome</label>
                    <input type="text" formControlName='name' class="form-control" id="name" placeholder="Nome">


                    <app-form-error [form-control]="resourceForm.get('name')">
                    </app-form-error>


                </div>
                <div class="col">
                    <label>Desc</label>
                    <input type="text" formControlName='description' class="form-control" id='description'
                        placeholder="descricao">
                </div>
            </div>
        </div>
    </div>


    <button [disabled]='submittingForm || resourceForm.invalid' type="submit"
        class="btn btn-primary btn-lg float-right mt-3">Salvar</button>

    <app-server-error-msg [server-error-messages]="serverErrorMessages"></app-server-error-msg>

</form>